details > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

details > div > div {
  width: 20%;
}

details > div > p {
  width: 70%;
}

details > div img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
